body {
}

.intro-logo{
    object-fit:cover;
    width:10em;
    height:10em;
}
.intro-card a{
    text-decoration:none;
    color: black;
}

.intro-card:hover img{
    width:12em;
    height:12em;
}
.intro-card:hover p {
    font-size: 1.1rem;
    font-weight: bold;
}
.logo{
    width: 2em;
    height: 2em;
}
.profile{
    width: 10em;
    height: 10em;
    object-fit:cover;
}

.ads{
    background-image: url("../images/defaultad.jpg");
    background-repeat:repeat;
    background-size: 3em;
}