@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IS_Turizmas.Models
@model IS_Turizmas.Models.Marsrutai
@{
    ViewData["Title"] = "Maršruto aprašymo redagavimas";
    <div class="container-fluid">
        <div class="col-md-10 mx-auto py-3 my-3">
            <h4 class="text-center">Maršruto aprašymo redagavimas</h4>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form asp-controller="Routes" asp-action="EditDescription" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label><strong>Pavadinimas</strong></label>
                        <input type="text" class="form-control" asp-for="Pavadinimas" placeholder="Įveskite maršruto pavadinimą" />
                        <span asp-validation-for="Pavadinimas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label><strong>Aprašymas</strong></label>
                        <textarea class="form-control" asp-for="Aprasymas" placeholder="Įveskite maršruto aprašymą"></textarea>
                        <span asp-validation-for="Aprasymas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label><strong>Laiko įvertis</strong></label>
                        <select class="form-control" asp-for="LaikoIvertis">
                            @foreach (LaikoIverciai ivertis in ViewBag.LaikoIverciai)
                            {
                                <option value="@ivertis.Id">@ivertis.Name</option>
                            }
                        </select>
                        <span asp-validation-for="LaikoIvertis" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label><strong>Išlaidos</strong></label>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nuo</label>
                                <input type="text" class="form-control" asp-for="IslaidosNuo" placeholder="Įveskite išlaidų minimumą" />
                                <span asp-validation-for="IslaidosNuo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Iki</label>
                                <input type="text" class="form-control" asp-for="IslaidosIki" placeholder="Įveskite išlaidų maksimumą" />
                                <span asp-validation-for="IslaidosIki" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Atnaujinti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
