@using IS_Turizmas.Models
@model IS_Turizmas.Models.Reitingai
@{
    ViewData["Title"] = "Rate";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Reitingavimo langas</h1>
    </div>


    <div class="col-md-10 mx-auto">
        <form class="my-2" asp-controller="Content" asp-action="LeaveRating" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="rating">Pasirinkite reitingą</label>
                <select asp-for="Reitingas" class="form-control" id="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span asp-validation-for="Reitingas" class="text-danger"></span>
                <input type="hidden" asp-for="FkMarsrutas" value=@ViewBag.id />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Palikti reitingą</button>
            </div>
            @*<a asp-controller="Content" asp-action="ViewRouteInfo" class="btn btn-primary">Palikti reitingą</a>*@
            @*<button type="submit" class="btn btn-primary"></button>*@
        </form>
        <a asp-controller="Content" asp-action="ViewRouteInfo" class="btn btn-primary">Atgal</a>
    </div>
}



