
@{
    ViewData["Title"] = "ShareRoute";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Dalinimosi langas</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <div class="row my-3 mx-auto">
            <div class="col-md-4 text-center">
                <a href="https://facebook.com"><img class="social-media" src="~/images/Social Media/facebook.png"/></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://twitter.com"><img class="social-media" src="~/images/Social Media/twitter.png" /></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://reddit.com"><img class="social-media" src="~/images/Social Media/reddit.png" /></a>
            </div>
        </div>
        <div class="row py-3">
        <a asp-controller="Content" asp-action="ViewRouteInfo" class="btn btn-primary">Atgal</a>
        </div>
    </div>

}


