@using IS_Turizmas.Models
@model IS_Turizmas.Models.Reitingai
@{
    ViewData["Title"] = "ViewAllRouteAnalysis";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Visų maršrutų analizė</h1>
    </div>


    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center table-bordered">
            <h3>Brangiausi galimi maršrutai:</h3>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Pavadinimas</th>
                        <th scope="col">Išlaidos iki</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Marsrutai route in ViewBag.HighestUpToPricesRoutes)
                    {
                    <tr>
                        <td>@Html.DisplayFor(model => route.Pavadinimas)</td>
                        <td>@Html.DisplayFor(model => route.IslaidosIki)</td>
                    </tr>
                    }
                </tbody>
            </table>

            <h3>Populiariausia valstybė: @ViewBag.MostPopularCountry</h3>

            <tr>
                <td>Populiariausias metų laikas</td>
                <td>Liepa</td>
            </tr>
        </table>
    </div>
}

