@{
    ViewData["Title"] = "ViewRouteInfo";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Maršruto informacija</h1>
    </div>


    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Sukūrimo data</th>
                    <th scope="col">Modifikavimo data</th>
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>Kaunas-Baltstogė-Varšuva-Kaunas</a></td>
                    <td>2020-11-03</td>
                    <td>2020-11-05</td>
                    <td><a asp-action="ShareRoute">Dalintis</a> | <a asp-action="Comment">Rašyti komentarą</a> | <a asp-action="Rate">Suteikti reitingą</a></td>
                </tr>
            </tbody>
        </table>
    </div>
}
