@{
    ViewData["Title"] = "ViewAllRouteAnalysis";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Visų maršrutų analizė</h1>
    </div>


    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center table-bordered">
            <tr>
                <td>Populiariausia šalis</td>
                <td>Lietuva</td>
            </tr>
            <tr>
                <td>Brangiausias maršrutas</td>
                <td>Kaunas-Baltstogė-Varšuva-Kaunas</td>
            </tr>
            <tr>
                <td>Populiariausias metų laikas</td>
                <td>Liepa</td>
            </tr>


            @*<thead>
                <tr>
                    <th scope="col">Populiariausia šalis</th>
                    <th scope="col">Brangiausias maršrutas</th>
                    <th scope="col">Populiariausias metų laikas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>Lietuva</a></td>
                    <td>Kaunas-Baltstogė-Varšuva-Kaunas</td>
                    <td>Liepa</td>
                </tr>
            </tbody>*@
        </table>
    </div>
}

