@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IS_Turizmas.Models
@model IS_Turizmas.Models.RegistruotiVartotojai
@{
    ViewData["Title"] = "ProfilioAnuliavimas";

    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Profilio anuliavimas</h1>
    </div>

    <div class="text-center">
        <h3><strong>Ar tikrai norite anuliuoti profilį?</strong></h3>

        <form asp-controller="User" asp-action="DeleteUserData" method="POST">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Taip</button><a asp-action="Index" class="btn btn-primary">Ne</a>
        </form>

        
    </div>
}
