@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ProfilioRedagavimas";

    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Profilio redagavimas</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form asp-controller="User" asp-action="Index" method="POST">
                    <div class="form-group">
                        <label><strong>Vardas</strong></label>
                        <input type="text" class="form-control" placeholder="Vartotojo vardas" />
                    </div>
                    <div class="form-group">
                        <label><strong>Pavardė</strong></label>
                        <input type="text" class="form-control" placeholder="Vartotojo pavardė" />
                    </div>
                    <div class="form-group">
                        <label><strong>El. paštas</strong></label>
                        <input type="text" class="form-control" placeholder="Vartotojo el. paštas" />
                    </div>

                    <div class="form-group">
                        <label><strong>Slaptažodis</strong></label>
                        <input type="text" class="form-control" placeholder="Slaptažodis" />
                    </div>
                    <div class="form-group">
                        <label><strong>Patvirtinti slaptažodį</strong></label>
                        <input type="text" class="form-control" placeholder="Patvirtinti slaptažodį" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Redaguoti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
