@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profilis";

    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Mano profilis</h1>
        <img class="img-thumbnail border rounded-circle profile" src="~/images/Home/statistics.png" />
        <div class="my-2">
            <a asp-controller="Home" asp-action="Index">Atsijungti</a> | <a asp-action="EditUser">Redaguoti</a> | <a asp-action="DeleteUser">Anuliuoti profilį</a>
        </div>
        <div class="py-2">
            <button class="btn btn-danger">Prenumeruoti vartotoją</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-10 mx-auto">
                <div>
                    <h5>Jūsu aktyvumos lygis:</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">15</div>
                    </div>
                </div>
                <div>
                <h5>Mano informacija:</h5>
                    <ul>
                        <li><p><strong>Prisijungimo vardas: </strong>Vardenis420</p></li>
                        <li><p><strong>Vardas: </strong>Vardenis</p></li>
                        <li><p><strong>Pavardė: </strong>Pavardenis</p></li>
                        <li><p><strong>El. paštas: </strong>test@test.lt</p></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

}
