@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Adverts";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Mano reklamos</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Veiksmai</th>
                </tr>
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <a asp-action="CreateAdvert">Kurti reklamą</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="CreateAdvertPlan">Kurti planą</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="DeleteAdvertPlan">Mano planai</a>
                        </div>
                    </div>
                </div>
                <tr>
                    <td>1</td>
                    <td>Mano reklama</td>
                    <td><a asp-action="ViewAdvertStatistics">Reklamos statistika</a> | <a asp-action="EditAdvert">Redaguoti reklama</a> | <a asp-action="Index" data-toggle="modal" data-target="#deleteConfirmation">Šalinti</a></td>
                </tr>
            </thead>
        </table>
    </div>


    <!--Delete confirmation window-->
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="Delete confirmation window" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmation">Šalinimo patvirtinimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ar tikrai norite ištrinti reklamą?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atšaukti</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Šalinti</button>
                </div>
            </div>
        </div>
    </div>
}
