@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Advert";
    <div class="container-fluid">
        <div class="col-md-10 mx-auto text-center py-3 my-3">
            <h1>Redaguojama reklama</h1>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form asp-controller="Adverts" asp-action="AdvertEdit" method="POST">
                    <div class="form-group">
                        <label><strong>Pavadinimas</strong></label>
                        <input type="text" class="form-control" placeholder="Įveskite reklamos pavadinimą" />
                    </div>
                    <div class="form-group">
                        <label><strong>Paveikslėlis</strong></label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><strong>Tikslo url</strong></label>
                        <input type="text" class="form-control" placeholder="Įveskite url" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Redaguoti</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
