@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IS_Turizmas.Models
@model IS_Turizmas.Models.Reklamos
@{
    ViewData["Title"] = "Advert Statistics";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>Reklamos statistika</h1>
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <tr>
                <th>ID</th>
                <th>@Html.DisplayFor(model => Model.Id)</th>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <th>@Html.DisplayFor(model => Model.Pavadinimas)</th>
            </tr>
            <tr>
                <th>Paspaudimai</th>
                <th>@Html.DisplayFor(model => Model.Paspaudimai)</th>
            </tr>
            <tr>
                <th>Paveikslėlis</th>
                @*This is probably wrong*@
                <th><img src="@Model.Paveikslelis" alt="Meme"></th>
            </tr>
        </table>
        <div class="col-md-4">
            <a asp-action="AdvertList">Grįžti</a>
        </div>
    </div>
}
